.okenko{
    background-color: aqua;
    border: 1px solid black;
    width: 500px;
}

main{
    display: flex;
    justify-content: center;
}

.odsazeni{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.odsazeni label{
    width: 150PX;
}

.buttons a{
    background-color: red;
    color:azure;
    border: 1px solid black;
}

.buttons{
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}